@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
    --background: #0a0a0a;
    --foreground: #ededed;
    --nginx-green: #009400;
    --other-green: rgb(46, 204, 113);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  --background: #ffffff;
  --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.level {
  background: var(--other-green)
}